<div class="container">
    <form method="post">
        <table cellpadding="10">
            <tr>
                <td>
                    <input class="form-control" type="text" id="firstName" name="firstName" placeholder="first name" required />
                </td>
                <td>
                    <input class="form-control" type="text" id="lastName" name="lastName" placeholder="last name" required />
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" type="email" id="email" name="email" required placeholder="email" />
                </td>
                <td>
                    <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" required placeholder="phone num" />
                </td>
            </tr>
            <tr>
                <td colspan="2">                  
                    <input class="form-control" type="text" id="companyName" name="companyName" required placeholder="company name" />
                </td>                
            </tr>
            <tr>
                <td colspan="2">
                    <input class="form-control" type="text" id="projectDescription" name="projectDescription" required placeholder="project description" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea class="form-control"  id="comment" name="comment" rows="4" cols="50" required placeholder="comment"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success" id="button">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>