    <div class="container" id="change-content">
        @*Main image*@
        <div class="row">
            <div class="col-md-12">
                <div class="div1">
                    <img src="http://tinyurl.com/lf-suhbg" style="width:100%" />
                </div>
            </div>
        </div>

        @*Content*@
        <div class="row" style="margin-left:5px">
            <div class="col-md-4 col-special" id="border">
                <h2>TITLE</h2>
                <p>
                    lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum.
                </p>

            </div>
            <div class="col-md-4 col-special" id="border">
                <h2>TITLE</h2>
                <p>lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum.</p>

            </div>
            <div class="col-md-4 col-special" id="border">
                <h2>TITLE</h2>
                <p>lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum.</p>

            </div>
        </div>
    </div>




