<div class="container">
    <div class="row">
        <div class="col-md-6">
            <figure>
                <img src="http://tinyurl.com/qeemlqf"/>
                <figcaption>Work Sample 1</figcaption>
            </figure>           
        </div>

        <div class="col-md-6">
            <figure>
                <img src="http://tinyurl.com/qeemlqf"/>
                <figcaption>Work Sample 2</figcaption>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <figure>
                <img src="http://tinyurl.com/qeemlqf"/>
                <figcaption>Work Sample 3</figcaption>
            </figure>
        </div>

        <div class="col-md-6">
            <figure>
                <img src="http://tinyurl.com/qeemlqf"/>
                <figcaption>Work Sample 4</figcaption>
            </figure>
        </div>
    </div>
</div>

